@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;700&display=swap");
body {
  background: #1f2034;
  font-family: "Montserrat Alternates", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 2rem;
}
@media screen and (max-width: 400px) {
  .container {
    padding: 0 1rem;
  }
}

.header_site {
  border-radius: 0rem 0rem 5.125rem 5.125rem;
  background: #25253d;
  position: sticky;
  top: -1px;
  left: 0;
  z-index: 2000;
}
.header_site .header_content {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
@media screen and (max-width: 400px) {
  .header_site .header_content {
    padding: 1rem 0;
  }
}
.header_site .header_content .logo_site {
  scale: 0.8;
}
@media screen and (max-width: 500px) {
  .header_site .header_content .logo_site {
    scale: 0.6;
  }
}
.header_site .header_content .logo_site:hover {
  cursor: pointer;
}
.header_site .header_content .nav_bar nav ul {
  list-style-type: none;
  display: flex;
}
.header_site .header_content .nav_bar nav ul a {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  margin-right: 6.19rem;
  transition-property: 2s all;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.header_site .header_content .nav_bar nav ul li:last-child {
  margin-right: 0;
}
.header_site .header_content .nav_bar nav ul li:hover {
  text-decoration: underline;
}
.header_site .header_content .burger {
  cursor: pointer;
}
.header_site .header_content .burger .line {
  height: 3px;
  width: 40px;
  border-radius: 1px;
  background: #fff;
  margin: 0.7rem 0;
}

.main_site {
  margin-top: -7rem;
  background-image: url("../images/main back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 90%;
}
.main_site .title_block span {
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
}
.main_site .btn_write {
  margin-top: 10rem;
}
.main_site .btn_write button {
  width: 90%;
  position: relative;
  top: 16px;
  left: 2%;
  opacity: 0.8;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 2.72rem;
  font-size: 2.65956rem;
  font-style: normal;
  font-weight: 600;
  background: linear-gradient(131deg, #ea5133 0%, #c336a2 100%);
  transition: 1s all;
}
@media screen and (max-width: 1300px) {
  .main_site .btn_write button {
    font-size: 2.5rem;
  }
}
.main_site .btn_write button:hover {
  opacity: 1;
}
.main_site .btn_write .back_btn {
  border-radius: 2.72rem;
  position: relative;
  top: 6.81rem;
  left: 0;
  width: 31.25rem;
  height: 6.64894rem;
  background: linear-gradient(131deg, #ea5133 0%, #c336a2 100%);
  filter: blur(7.9787249565px);
}
@media screen and (max-width: 1300px) {
  .main_site .btn_write .back_btn {
    width: 30.7rem;
  }
}
@media screen and (max-width: 1300px) {
  .main_site .btn_write {
    scale: 0.8;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1300px) {
  .main_site .btn_write {
    width: -moz-min-content;
    width: min-content;
    margin-top: 0rem;
  }
  .main_site .btn_write .back_btn {
    width: 50rem;
  }
  .main_site .btn_write button {
    width: 90%;
  }
}
@media screen and (max-width: 790px) {
  .main_site .btn_write {
    width: -moz-min-content;
    width: min-content;
    margin-top: 0rem;
  }
  .main_site .btn_write .back_btn {
    width: 30rem;
  }
  .main_site .btn_write button {
    font-size: 2rem;
    top: 19px;
    left: 3%;
  }
}
@media screen and (max-width: 470px) {
  .main_site .btn_write {
    width: -moz-min-content;
    width: min-content;
    margin-top: 0rem;
  }
  .main_site .btn_write .back_btn {
    width: 20rem;
  }
  .main_site .btn_write button {
    padding: 1rem;
    width: 18rem;
    font-size: 1.5rem;
    top: 24px;
    left: 4%;
  }
}
.main_site .description_content {
  padding: 16rem 0 14rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1300px) {
  .main_site .description_content {
    padding-bottom: 8rem;
  }
}
.main_site .description_content .left_part_content {
  align-self: flex-start;
  color: #fff;
}
.main_site .description_content .left_part_content .main_content_text {
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.main_site .description_content .left_part_content .main_content_text h1 {
  font-weight: 700;
  font-size: 4.25rem;
  margin: 0;
  line-height: normal;
}
@media screen and (max-width: 1300px) {
  .main_site .description_content .left_part_content .main_content_text h1 {
    font-size: 3.75rem;
  }
}
@media screen and (max-width: 530px) {
  .main_site .description_content .left_part_content .main_content_text h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 400px) {
  .main_site .description_content .left_part_content .main_content_text h1 {
    font-size: 2rem;
  }
}
.main_site .description_content .left_part_content .sub-main_text {
  padding-top: 2rem;
}
.main_site .description_content .left_part_content .sub-main_text p {
  margin: 0;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  max-width: -moz-max-content;
  max-width: max-content;
}
@media screen and (max-width: 400px) {
  .main_site .description_content .left_part_content .sub-main_text p {
    font-size: 1rem;
  }
}
.main_site .description_content .right_part_content .cards {
  max-height: 50rem;
  max-width: -moz-min-content;
  max-width: min-content;
  position: relative;
  top: -10%;
}
.main_site .description_content .right_part_content .cards .card {
  opacity: 0;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 1.63238rem;
  -o-border-image: linear-gradient(rgb(234, 81, 51), rgb(195, 54, 162));
     border-image: linear-gradient(rgb(234, 81, 51), rgb(195, 54, 162));
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: card;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@media screen and (max-width: 1300px) {
  .main_site .description_content .right_part_content .cards {
    scale: 0.8;
    margin: 0 auto;
  }
}
@media screen and (max-width: 655px) {
  .main_site .description_content .right_part_content .cards {
    scale: 0.7;
    margin: 0 auto;
  }
}
@media screen and (max-width: 610px) {
  .main_site .description_content .right_part_content .cards {
    display: none;
  }
}
.main_site .description_content .right_part_content .cards .second_card {
  animation-delay: 7s;
}
.main_site .description_content .right_part_content .cards .third_card {
  animation-delay: 8s;
}
@media screen and (max-width: 1200px) {
  .main_site .description_content .right_part_content {
    overflow: hidden;
  }
}
@keyframes card {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main_site .new_examples {
  border-radius: 5.125rem;
  background-color: #fff;
  padding: 3rem 0 8rem;
}
.main_site .new_examples .title_block span {
  color: #1f2034;
}
.main_site .new_examples .example_cards {
  margin: 0 auto;
  padding: 3.31rem 3.81rem;
}
@media screen and (max-width: 560px) {
  .main_site .new_examples .example_cards {
    padding: 1.5rem;
  }
  .main_site .new_examples .example_cards .card {
    display: block;
  }
}
.main_site .new_examples .example_cards .card {
  margin-top: 2.5rem;
  border-radius: 2.6875rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.main_site .new_examples .example_cards .card .left_part_card {
  padding: 4.37rem 0 0 4.37rem;
  color: #fff;
  max-width: 50%;
}
.main_site .new_examples .example_cards .card .left_part_card .wrapper {
  max-width: 28rem;
  padding-bottom: 3.12rem;
}
.main_site .new_examples .example_cards .card .left_part_card .wrapper .tag {
  padding: 0.30688rem 1.6875rem 0.38063rem 1.375rem;
  border-radius: 2.25rem;
  border: 1px solid #fff;
  max-width: -moz-min-content;
  max-width: min-content;
}
.main_site .new_examples .example_cards .card .left_part_card .wrapper .title_card {
  margin-top: 3.35rem;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.045rem;
}
@media screen and (max-width: 976px) {
  .main_site .new_examples .example_cards .card .left_part_card .wrapper .title_card {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.main_site .new_examples .example_cards .card .left_part_card .wrapper .description_card {
  margin-top: 2.79rem;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
@media screen and (max-width: 976px) {
  .main_site .new_examples .example_cards .card .left_part_card .wrapper .description_card {
    font-size: 1rem;
    line-height: 2rem;
  }
}
.main_site .new_examples .example_cards .card .left_part_card .wrapper .case {
  cursor: pointer;
  margin-top: 3.32rem;
  display: flex;
  align-items: center;
}
.main_site .new_examples .example_cards .card .left_part_card .wrapper .case .button {
  margin-left: -0.6rem;
  transition: all 0.3s ease-out;
}
.main_site .new_examples .example_cards .card .left_part_card .wrapper .case .text_case {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
}
.main_site .new_examples .example_cards .card .left_part_card .wrapper .case:hover .button {
  rotate: 45deg;
}
@media screen and (max-width: 470px) {
  .main_site .new_examples .example_cards .card .left_part_card {
    padding: 1rem 0 0 1.37rem;
  }
  .main_site .new_examples .example_cards .card .left_part_card .wrapper .tag {
    width: 200px;
  }
}
.main_site .new_examples .example_cards .card .right_part_card {
  overflow: hidden;
  position: relative;
  left: 1rem;
  top: 1.8rem;
}
@media screen and (max-width: 560px) {
  .main_site .new_examples .example_cards .card .right_part_card {
    display: none;
  }
}
@media screen and (max-width: 976px) {
  .main_site .new_examples .example_cards .card {
    flex-wrap: wrap;
    align-items: center;
  }
  .main_site .new_examples .example_cards .card .left_part_card .wrapper {
    padding-bottom: 0;
  }
}
.main_site .new_examples .example_cards .card:first-child {
  margin-top: 0;
}
.main_site .new_examples .example_cards .first {
  background: #25253d;
}
.main_site .new_examples .example_cards .second {
  background: #ea5133;
}
.main_site .new_examples .scroll_btn_more {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.main_site .new_examples .scroll_btn_more .text {
  color: #1f2034;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}
.main_site .new_examples .scroll_btn_more .wrapper_arrow {
  cursor: pointer;
}
.main_site .new_examples .scroll_btn_more .wrapper_arrow .arrow {
  margin-top: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_site .new_examples .scroll_btn_more .wrapper_arrow .arrow svg {
  position: relative;
  top: 0;
  left: 0;
}
.main_site .new_examples .scroll_btn_more .wrapper_arrow .first {
  top: 10%;
  opacity: 0.4;
}
.main_site .new_examples .scroll_btn_more .wrapper_arrow .second {
  top: 10%;
  opacity: 0.7;
  animation-name: arrow2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.main_site .new_examples .scroll_btn_more .wrapper_arrow .third {
  top: 10%;
  animation-name: arrow3;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes arrow2 {
  from {
    top: 10%;
  }
  to {
    top: 30%;
  }
}
@keyframes arrow3 {
  from {
    top: 10%;
  }
  to {
    top: 50%;
  }
}
.main_site .wrapper_stages {
  width: 100%;
  background-image: url("../images/Group_28.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main_site .wrapper_stages .stages {
  padding: 10rem 0;
  color: #fff;
}
.main_site .wrapper_stages .stages .cards_stages {
  margin-top: 4rem;
}
.main_site .wrapper_stages .stages .cards_stages .first_line_cards,
.main_site .wrapper_stages .stages .cards_stages .second_line_cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.main_site .wrapper_stages .stages .cards_stages .first_line_cards .card,
.main_site .wrapper_stages .stages .cards_stages .second_line_cards .card {
  height: 20rem;
  flex: 0 1 33.3%;
  margin-right: 1.25rem;
  padding: 1.87rem 2.5rem;
  border-radius: 2.6875rem;
  background-image: linear-gradient(rgba(245, 245, 245, 0.18), rgba(245, 245, 245, 0));
}
.main_site .wrapper_stages .stages .cards_stages .first_line_cards .card .text_card,
.main_site .wrapper_stages .stages .cards_stages .second_line_cards .card .text_card {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
}
.main_site .wrapper_stages .stages .cards_stages .first_line_cards .card .wrapper_img,
.main_site .wrapper_stages .stages .cards_stages .second_line_cards .card .wrapper_img {
  padding-top: 3rem;
  max-width: -moz-min-content;
  max-width: min-content;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  .main_site .wrapper_stages .stages .cards_stages .first_line_cards .card .wrapper_img,
  .main_site .wrapper_stages .stages .cards_stages .second_line_cards .card .wrapper_img {
    padding-top: 0.3rem;
  }
  .main_site .wrapper_stages .stages .cards_stages .first_line_cards .card .wrapper_img img,
  .main_site .wrapper_stages .stages .cards_stages .second_line_cards .card .wrapper_img img {
    scale: 0.8;
  }
}
@media screen and (max-width: 1050px) {
  .main_site .wrapper_stages .stages .cards_stages .first_line_cards .card,
  .main_site .wrapper_stages .stages .cards_stages .second_line_cards .card {
    flex: 0 1 70%;
    margin: 1rem auto;
    height: 15rem;
    margin-right: none;
  }
}
@media screen and (max-width: 1050px) {
  .main_site .wrapper_stages .stages .cards_stages .first_line_cards,
  .main_site .wrapper_stages .stages .cards_stages .second_line_cards {
    flex-wrap: wrap;
  }
}
.main_site .wrapper_stages .stages .cards_stages .second_line_cards .card {
  flex: 0 1 50%;
}
@media screen and (max-width: 1050px) {
  .main_site .wrapper_stages .stages .cards_stages .second_line_cards .card {
    flex: 0 1 70%;
    margin: 1rem auto;
    height: 15rem;
    margin-right: none;
  }
}
.main_site .wrapper_services {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 5.125rem;
  overflow-x: hidden;
}
.main_site .wrapper_services .slaider_btn {
  overflow-y: hidden;
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
  z-index: 1000;
  transition: 2s background ease;
}
.main_site .wrapper_services .slaider_btn:hover {
  background: linear-gradient(90deg, rgba(31, 32, 52, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
}
.main_site .wrapper_services .prev {
  left: 0;
}
.main_site .wrapper_services .next {
  rotate: 180deg;
  right: 0;
}
.main_site .wrapper_services .services {
  padding: 3rem 0;
}
.main_site .wrapper_services .services .title_block {
  color: #25253d;
}
.main_site .wrapper_services .services .cards {
  margin-left: 1rem;
  width: 202rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 2s transform;
}
@media screen and (max-width: 650px) {
  .main_site .wrapper_services .services .cards {
    display: block;
  }
}
.main_site .wrapper_services .services .cards .card {
  max-width: 43.75rem;
  height: 380px;
  overflow: hidden;
  color: #fff;
  display: flex;
  padding: 3rem 0 0 3rem;
  border-radius: 5.125rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.main_site .wrapper_services .services .cards .card .left_part .title_card {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}
.main_site .wrapper_services .services .cards .card .left_part .description {
  margin-top: 1rem;
  max-width: 22rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.05rem;
}
.main_site .wrapper_services .services .cards .card .right_part img {
  scale: 1.1;
}
@media screen and (max-width: 650px) {
  .main_site .wrapper_services .services .cards .card {
    width: -moz-max-content;
    width: max-content;
    margin: 1rem 0 1rem 3%;
    padding: 2rem;
    height: -moz-max-content;
    height: max-content;
  }
  .main_site .wrapper_services .services .cards .card .left_part .title_card {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .main_site .wrapper_services .services .cards .card .left_part .description {
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }
  .main_site .wrapper_services .services .cards .card .right_part {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .main_site .wrapper_services .services .cards .card {
    margin: 3rem;
  }
}
@media screen and (max-width: 470px) {
  .main_site .wrapper_services .services .cards .card {
    margin: 3rem 1rem 0 0rem;
  }
}
@media screen and (max-width: 450px) {
  .main_site .wrapper_services .services .cards .card {
    scale: 0.8;
    margin-left: -2rem;
  }
}
.main_site .wrapper_services .services .cards .telegram {
  background: #0d8fff;
}
.main_site .wrapper_services .services .cards .design {
  background: #ea5133;
}
.main_site .wrapper_services .services .cards .script {
  background: #25253d;
}
.main_site .wrapper_services .services .cards .ui {
  background: #c336a2;
}
.main_site .wrapper_examples {
  width: 100%;
  background-image: url("../images/examples_back.png"), url("../images/examples_back1.png");
  background-repeat: no-repeat;
  background-position: center;
}
.main_site .wrapper_examples .more_examples {
  margin-top: 7rem;
}
.main_site .wrapper_examples .more_examples .title_block span {
  color: #fff;
}
.main_site .wrapper_examples .more_examples .sort_btns {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
}
.main_site .wrapper_examples .more_examples .sort_btns button {
  border-radius: 2.42219rem;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  padding: 0.80738rem 1.5105rem;
  margin-right: 0.74rem;
  cursor: pointer;
  transition: 0.5s all;
}
.main_site .wrapper_examples .more_examples .sort_btns button:hover {
  background-color: rgb(239, 81, 33);
}
.main_site .wrapper_examples .more_examples .sort_btns button:last-child {
  margin-right: 0;
}
@media screen and (max-width: 976px) {
  .main_site .wrapper_examples .more_examples .sort_btns {
    flex-wrap: wrap;
  }
  .main_site .wrapper_examples .more_examples .sort_btns button {
    margin: 0.74rem 0.74rem 0;
  }
}
.main_site .wrapper_examples .more_examples .cards {
  margin-top: 4rem;
}
.main_site .wrapper_examples .more_examples .cards .line {
  margin-top: -1rem;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .main_site .wrapper_examples .more_examples .cards .line {
    flex-wrap: wrap;
  }
}
.main_site .wrapper_examples .more_examples .cards .line .card {
  position: relative;
  margin: 1rem 0.5rem;
  padding: 2rem 0 0 2rem;
  border-radius: 2.69131rem;
  min-height: 29.65278vw;
  background-size: 38.26389vw;
  background-repeat: no-repeat;
}
@media screen and (max-width: 400px) {
  .main_site .wrapper_examples .more_examples .cards .line .card {
    padding: 1rem 0 0 1rem;
  }
}
.main_site .wrapper_examples .more_examples .cards .line .card .title_card {
  margin-left: -0.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main_site .wrapper_examples .more_examples .cards .line .card .title_card svg {
  transition: all 0.3s ease-out;
}
.main_site .wrapper_examples .more_examples .cards .line .card .title_card span {
  max-width: 20rem;
  color: #fff;
  font-size: 1.34563rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.61475rem;
}
@media screen and (max-width: 790px) {
  .main_site .wrapper_examples .more_examples .cards .line .card .title_card span {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
}
.main_site .wrapper_examples .more_examples .cards .line .card .title_card:hover svg {
  rotate: 45deg;
}
.main_site .wrapper_examples .more_examples .cards .line .card button {
  margin-left: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2.42219rem;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  padding: 0.80738rem 1.5105rem;
  margin-bottom: 2rem;
  transition: 0.5s all;
}
@media screen and (max-width: 500px) {
  .main_site .wrapper_examples .more_examples .cards .line .card button {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    scale: 0.9;
  }
}
.main_site .wrapper_examples .more_examples .cards .line .card button:hover {
  background-color: rgb(239, 81, 33);
}
.main_site .wrapper_examples .more_examples .cards .line .delivery {
  background-image: url("../images/yellow_card.png");
  flex: 0 1 60%;
  background-color: rgb(255, 198, 50);
  background-position: right bottom;
  background-size: 38.26389vw;
}
@media screen and (max-width: 1200px) {
  .main_site .wrapper_examples .more_examples .cards .line .delivery {
    flex: 0 1 100%;
  }
}
.main_site .wrapper_examples .more_examples .cards .line .social_jet {
  background-image: url("../images/card 2 2.png");
  flex: 0 1 40%;
  background-color: rgb(13, 143, 255);
  background-position: bottom;
  background-size: 25.97222vw;
}
@media screen and (max-width: 1200px) {
  .main_site .wrapper_examples .more_examples .cards .line .social_jet {
    flex: 0 1 100%;
  }
}
.main_site .wrapper_examples .more_examples .cards .line .surgery {
  background-image: url("../images/surgery.png");
  flex: 0 1 50%;
  background-color: rgb(95, 93, 97);
  background-size: 38.40278vw;
  background-position: right bottom;
}
@media screen and (max-width: 1200px) {
  .main_site .wrapper_examples .more_examples .cards .line .surgery {
    flex: 0 1 100%;
  }
}
.main_site .wrapper_examples .more_examples .cards .line .sale_site {
  flex: 0 1 50%;
  background-size: 37.36111vw;
  background-image: url("../images/sale-site.png");
  background-position: right bottom;
  background-color: rgb(226, 183, 169);
}
@media screen and (max-width: 1200px) {
  .main_site .wrapper_examples .more_examples .cards .line .sale_site {
    flex: 0 1 100%;
  }
}
.main_site .wrapper_examples .more_examples .cards .line .dirt {
  flex: 0 1 33.3%;
  background-image: url("../images/dirt.png");
  background-color: rgb(29, 29, 29);
  background-size: 27.77778vw;
  background-position: center bottom 1.80556vw;
}
@media screen and (max-width: 1200px) {
  .main_site .wrapper_examples .more_examples .cards .line .dirt {
    flex: 0 1 100%;
  }
}
.main_site .wrapper_examples .more_examples .cards .line .sierra {
  flex: 0 1 66.6%;
  background-color: rgb(255, 77, 22);
  background-size: 37.63889vw;
  background-image: url("../images/sierra.png");
  background-position: right bottom;
}
@media screen and (max-width: 1200px) {
  .main_site .wrapper_examples .more_examples .cards .line .sierra {
    flex: 0 1 100%;
  }
}
@media screen and (max-width: 500px) {
  .main_site .wrapper_reviews .reviews {
    padding: 0.1rem 1rem;
  }
}
.main_site .wrapper_reviews {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 5.125rem;
  margin-top: 7rem;
}
.main_site .wrapper_reviews .slaider_btn {
  overflow-y: hidden;
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
  z-index: 1000;
  transition: 2s background ease;
}
.main_site .wrapper_reviews .slaider_btn:hover {
  background: linear-gradient(90deg, rgba(31, 32, 52, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
}
.main_site .wrapper_reviews .prev {
  left: 0;
}
.main_site .wrapper_reviews .next {
  rotate: 180deg;
  right: 0;
}
.main_site .wrapper_reviews .reviews {
  padding-top: 3.44rem;
}
.main_site .wrapper_reviews .reviews .title_block {
  color: rgb(31, 32, 52);
}
.main_site .wrapper_reviews .reviews .cards_reviews {
  margin: 5rem 4.25rem 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 6.25rem;
  transition: 2s transform;
}
.main_site .wrapper_reviews .reviews .cards_reviews .card_reviews {
  padding: 0.75rem;
  margin: 0 2rem;
  border-radius: 2.5625rem;
  border: 2px solid #1f2034;
  color: #1f2034;
  min-width: 21.875rem;
}
@media screen and (max-width: 600px) {
  .main_site .wrapper_reviews .reviews .cards_reviews .card_reviews {
    scale: 0.9;
    margin: 0;
  }
}
.main_site .wrapper_reviews .reviews .cards_reviews .card_reviews .top_part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_site .wrapper_reviews .reviews .cards_reviews .card_reviews .top_part .photo {
  width: 6.62rem;
  height: 6.62rem;
  border-radius: 50%;
  background-image: url("../images/man.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.main_site .wrapper_reviews .reviews .cards_reviews .card_reviews .top_part .name {
  padding-right: 2rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
}
.main_site .wrapper_reviews .reviews .cards_reviews .card_reviews .main_text {
  margin-top: 1.2rem;
  max-width: 26rem;
  text-align: left;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.1125rem;
}
@media screen and (max-width: 790px) {
  .main_site .wrapper_reviews .reviews .cards_reviews .card_reviews .main_text {
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 976px) {
  .main_site .wrapper_reviews .reviews .cards_reviews {
    margin: 3rem 2.75rem 0;
  }
}
@media screen and (max-width: 600px) {
  .main_site .wrapper_reviews .reviews .cards_reviews {
    margin: 0rem 1rem 0;
  }
}
.main_site .wrapper_arguments {
  margin-top: 7rem;
  background-image: url("../images/Group 42.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main_site .wrapper_arguments .arguments .title_block {
  color: #fff;
}
.main_site .wrapper_arguments .arguments .blocks {
  margin-top: 4rem;
}
.main_site .wrapper_arguments .arguments .blocks .block {
  margin-bottom: 4rem;
  color: #fff;
  border-radius: 2.6875rem;
  padding: 3rem;
  max-width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .main_site .wrapper_arguments .arguments .blocks .block {
    flex-wrap: wrap;
  }
  .main_site .wrapper_arguments .arguments .blocks .block .images_block {
    display: none;
  }
}
.main_site .wrapper_arguments .arguments .blocks .block .wrapper {
  flex: 0 1 70%;
}
.main_site .wrapper_arguments .arguments .blocks .block .wrapper .title_block {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}
@media screen and (max-width: 976px) {
  .main_site .wrapper_arguments .arguments .blocks .block .wrapper .title_block {
    font-size: 1.5rem;
  }
}
.main_site .wrapper_arguments .arguments .blocks .block .wrapper .main_text_block {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.28125rem;
}
@media screen and (max-width: 976px) {
  .main_site .wrapper_arguments .arguments .blocks .block .wrapper .main_text_block {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 750px) {
  .main_site .wrapper_arguments .arguments .blocks .block .wrapper {
    flex: 0 1 100%;
  }
}
.main_site .wrapper_arguments .arguments .blocks .block .images_block {
  flex: 0 1 30%;
  margin-right: 4rem;
  max-width: -moz-min-content;
  max-width: min-content;
}
@media screen and (max-width: 650px) {
  .main_site .wrapper_arguments .arguments .blocks .block .images_block {
    margin-right: -1rem;
    scale: 0.8;
  }
}
.main_site .start_now_wrapper {
  margin-top: 7rem;
}
.main_site .start_now_wrapper .start {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .main_site .start_now_wrapper .start {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.main_site .start_now_wrapper .start .left_part {
  height: 620px;
  background-image: url("../images/manager_block_back.svg");
  background-repeat: no-repeat;
  background-position: left 8rem;
  background-size: 450px;
}
@media screen and (max-width: 1024px) {
  .main_site .start_now_wrapper .start .left_part {
    background-size: 320px;
  }
}
.main_site .start_now_wrapper .start .left_part .title_block {
  position: relative;
  color: #fff;
  max-width: 40rem;
}
.main_site .start_now_wrapper .start .left_part .title_block span {
  line-height: 3.4375rem;
}
@media screen and (max-width: 1200px) {
  .main_site .start_now_wrapper .start .left_part .title_block span {
    line-height: 2rem;
    font-size: 2rem;
  }
}
.main_site .start_now_wrapper .start .left_part .title_block .wrapper_arrow {
  min-width: -moz-min-content;
  min-width: min-content;
  position: absolute;
  right: -30%;
  top: 0;
}
@media screen and (max-width: 1200px) {
  .main_site .start_now_wrapper .start .left_part .title_block .wrapper_arrow {
    scale: 0.8;
  }
}
.main_site .start_now_wrapper .start .left_part .manager {
  margin-top: 3rem;
}
.main_site .start_now_wrapper .start .left_part .manager .photo_manager {
  border-radius: 2.5625rem;
  overflow: hidden;
  margin: 0 auto;
  transform: rotate(16.318deg);
  width: 12.5rem;
  height: 15.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_site .start_now_wrapper .start .left_part .manager .photo_manager img {
  scale: 1.5;
  max-width: 100%;
  max-height: 100%;
}
.main_site .start_now_wrapper .start .left_part .manager .description_manager {
  margin-top: 1rem;
  color: #fff;
  text-align: center;
}
.main_site .start_now_wrapper .start .left_part .manager .description_manager .name_manager {
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
}
.main_site .start_now_wrapper .start .left_part .manager .description_manager .description {
  float: right;
  margin: 2rem;
  text-align: left;
  margin-top: 1rem;
  max-width: 26rem;
}
.main_site .start_now_wrapper .start .right_part {
  margin-left: 15rem;
}
.main_site .start_now_wrapper .start .right_part .order_form .phone_input .wrapper_hr {
  display: flex;
  align-items: center;
  position: relative;
}
.main_site .start_now_wrapper .start .right_part .order_form .phone_input .wrapper_hr .phone_list {
  position: absolute;
}
.main_site .start_now_wrapper .start .right_part .order_form .phone_input .wrapper_hr input {
  text-indent: 40px;
}
.main_site .start_now_wrapper .start .right_part .order_form .wrapper_input {
  margin-top: 6rem;
  max-width: 22.25rem;
}
.main_site .start_now_wrapper .start .right_part .order_form .wrapper_input input {
  width: 100%;
  background: none;
  border: none;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .main_site .start_now_wrapper .start .right_part .order_form .wrapper_input input {
    font-size: 2rem;
  }
}
.main_site .start_now_wrapper .start .right_part .order_form .wrapper_input input:focus {
  border: none;
  outline: none;
}
.main_site .start_now_wrapper .start .right_part .order_form .wrapper_input hr {
  height: 5px;
  width: 22.25rem;
  border: none;
  background-color: #fff;
  opacity: 0.43;
  border-radius: 15px;
}
@media screen and (max-width: 1200px) {
  .main_site .start_now_wrapper .start .right_part .order_form .wrapper_input hr {
    width: 16rem;
    float: left;
  }
}
.main_site .start_now_wrapper .start .right_part .order_form .wrapper_input .color_hr {
  opacity: 1;
  background: linear-gradient(to right, rgb(233, 81, 55), rgb(198, 56, 154));
}
.main_site .start_now_wrapper .start .right_part .order_form .wrapper_input:first-child {
  margin-top: 0;
}
.main_site .start_now_wrapper .start .right_part .order_form .button_submit {
  max-width: 330px;
}
.main_site .start_now_wrapper .start .right_part .order_form .button_submit .btn_write {
  margin-top: 0;
}
.main_site .start_now_wrapper .start .right_part .order_form .button_submit .btn_write .back_btn {
  height: 6rem;
  width: 24.375rem;
  filter: blur(6px);
}
.main_site .start_now_wrapper .start .right_part .order_form .button_submit .btn_write button {
  top: 1.7rem;
  left: 57%;
  transform: translateX(-50%);
  padding: 1rem;
  font-size: 2rem;
}
@media screen and (max-width: 1300px) {
  .main_site .start_now_wrapper .start .right_part .order_form .button_submit .btn_write .back_btn {
    width: 24.375rem;
  }
  .main_site .start_now_wrapper .start .right_part .order_form .button_submit .btn_write button {
    left: 50%;
    width: 80%;
  }
}
@media screen and (max-width: 976px) {
  .main_site .start_now_wrapper .start .right_part .order_form .button_submit .btn_write .back_btn {
    width: 24.375rem;
  }
  .main_site .start_now_wrapper .start .right_part .order_form .button_submit .btn_write button {
    width: 20rem;
    left: 52%;
  }
}
@media screen and (max-width: 1024px) {
  .main_site .start_now_wrapper .start .right_part .order_form .button_submit .btn_write {
    position: relative;
    left: -10%;
  }
}
@media screen and (max-width: 976px) {
  .main_site .start_now_wrapper .start .right_part {
    margin-left: 2rem;
  }
}

.footer_site {
  color: #fff;
  margin-top: 7rem;
  width: 100%;
  border-radius: 5.125rem 5.125rem 0rem 0rem;
  background: #25253d;
}
.footer_site .footer {
  padding-top: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer_site .footer .column .logo .wrapper_logo {
  position: relative;
  left: -30px;
  scale: 0.8;
}
.footer_site .footer .column .phone {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}
.footer_site .footer .column .address {
  margin-top: 1.5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem;
}
.footer_site .footer .column .networks_logo {
  display: flex;
  align-items: center;
  padding-top: 0.8rem;
}
.footer_site .footer .column .networks_logo .wrapper_networks_logo {
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 0.5rem;
  cursor: pointer;
}
.footer_site .footer .column .services {
  margin: 3.5rem 0 0 0.5rem;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}
.footer_site .footer .column .scroll_btn {
  padding-top: 0.8rem;
}
.footer_site .footer .column .scroll_btn button {
  border-radius: 3.375rem;
  color: #fff;
  background: none;
  padding: 1.0625rem 2.34375rem 1.125rem 2.1875rem;
  border: 1px solid #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}
.footer_site .footer .column .about {
  margin-top: 4rem;
  overflow-y: hidden;
}
.footer_site .footer .column .projects {
  cursor: pointer;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
@media screen and (max-width: 560px) {
  .footer_site .footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer_site .footer .first {
    flex: 0 1 100%;
  }
  .footer_site .footer .central_column {
    margin-top: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 560px) and (max-width: 415px) {
  .footer_site .footer .central_column {
    order: 3;
  }
}
@media screen and (max-width: 560px) {
  .footer_site .footer .last {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}
.footer_site .footer_line {
  margin-top: 5rem;
  max-width: 90rem;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: none;
}
@media screen and (max-width: 400px) {
  .footer_site .footer_line {
    margin-top: 1rem;
  }
}
.footer_site .underline_text {
  padding: 0.5rem 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.footer_site .underline_text .left_part {
  display: flex;
}
.footer_site .underline_text .left_part .wrapper_svg {
  width: 40px;
  background-image: url("../images/logo small.svg");
  background-repeat: no-repeat;
}
@media screen and (max-width: 470px) {
  .footer_site .underline_text {
    padding: 0.5rem 1rem;
  }
}
@media screen and (max-width: 470px) {
  .footer_site .underline_text {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=main.css.map */